<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Mailjet.Api" version="1.2.2" targetFramework="net472" />
  <package id="MD5" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="ServiceStack" version="5.9.2" targetFramework="net472" />
  <package id="ServiceStack.Common" version="3.9.11" targetFramework="net472" />
  <package id="ServiceStack.OrmLite.Sqlite32" version="3.9.71" targetFramework="net472" />
  <package id="ServiceStack.OrmLite.SqlServer" version="3.9.14" targetFramework="net472" />
  <package id="ServiceStack.Redis" version="3.9.11" targetFramework="net472" />
  <package id="ServiceStack.Text" version="3.9.11" targetFramework="net472" />
  <package id="System.Data.SQLite.x86" version="1.0.88.0" targetFramework="net472" />
</packages>